@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  --title-font: 500 100% / 1 Gotham Rounded, Rubik, sans-serif;
  --title-font-boing-400: 400 100% / 1 Boing-400, Rubik, sans-serif;
  --title-font-boing-500: 500 100% / 1 Boing-500, Rubik, sans-serif;
}


/*css to Map*/
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* למנוע גלילה */
}
.homePage{
  background-color:#356EB6;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  div{
    background-image:url(./img/GoPath.png);
    height: 40vh;
    width: 40vw;
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
  }
}



.app-container {
  display: flex;
  height: 100vh;
  /* רוחב מלא */
  width: 100%;
}

/*sizing of Map container*/
.leaflet-container {
  position: absolute;
  /* inset: 20px; */
  inset: 1;
  width: 100%;
  height: 100%;
}

.search-route {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  /* כדי לשמור עליו מעל המפה */
  z-index: 1;
  position: relative;
  overflow: auto;
  width: 386px;
}
.form-input{
  padding: 1rem;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  justify-self:center;
}
@media (min-width: 768px) {
  .search-route:not(.with-poi) {
    width: 386px;
    padding: 0;
    margin: 0;
    padding: 0 20px 16px;
    grid-column-gap: 14px;
    background-color: #fff;
    background-position: right 20px top 32px;
  }
}

.map {
  flex: 1;
  position: relative;
  height: 100vh;
  z-index: 0;
}

@media (min-width: 768px) {
  .map {
    top: 0;
    bottom: 0;
    left: 0;
    right: 386px;
  }
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  background: white;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background: #f0f0f0;
}


.title {
  font: var(--title-font-boing-500);
  font-size: 18px;
  padding-bottom: 5%;
}

.out {
  position: fixed;
  top:3px; 
  left: 40px; 
  background-color: transparent; 
  color: #0062cb; 
  border: none; 
  font-size: 16px;
  font-weight: 300;
  cursor: pointer; 
  padding: 10px 20px;
  z-index: 1000;
  text-decoration:dotted;
}
.out:focus {
  outline: none;
  box-shadow: none; 
}